@font-face {
  font-family: Eina01;
  src: url("@/assets/fonts/eina/Eina01-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Eina01_SemiBold;
  src: url("@/assets/fonts/eina/Eina01-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Eina01_Bold;
  src: url("@/assets/fonts/eina/Eina01-Bold.ttf");
  font-weight: 700;
}
