.events {
    background: url("@/assets/images/bg/bg-subcribe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px;
    border-radius: 48px;
    @include media-breakpoint-down(sm) {
        padding: 28px 16px;
        border-radius: 32px;
    }
    .events-list {
        display: flex;
        align-items: center;
    }
    &-item {
        padding: 32px 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #fff;
        text-align: center;
        border-radius: 24px;
        font-size: 14px;
        p {
            margin: 0 0 20px;
        }
        .nav-btn {
            .btn-unstake {
                padding: 0px 48px;
                border-radius: 50px;
                font-weight: 700;
                line-height: 48px;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                .btn-unstake {
                    width: 100%;
                }
            }
        }
    }
    .total-staked {
        h4 {
            margin-top: 10px;
        }
    }
    .unclaimed-rewards {
        .pal {
            margin-bottom: 20px;
            span {
                margin-left: 6px;
            }
        }
    }
    .total-you-claimed {
        .logo {
            margin: 20px 0 16px;
        }
        .pal {
            span {
                margin-left: 6px;
            }
        }
    }
}
