.pool {
  &-switch {
    margin: 10px 0;
    color: #ffffff;
    .btn {
      padding: 5px 20px;
      border-radius: 25px;
      font-weight: 400;

      &:focus {
        box-shadow: unset;
      }
      &.active {
        background: #65CF58;
        color: #ffffff;
      }
    }
  }
  &-summary {
    background: linear-gradient(151.42deg, #b5e8e3 -0.25%, #e0fbb5 103.01%);
    padding: 30px;
    border-radius: 25px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 20px;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }
  }

  &-referral {
    &-guest {
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      background: #ffffff url("@/assets/images/bg/bg-ref-to-earn.png") no-repeat
        left;
      padding: 60px 60px 60px 224px;
      margin-bottom: 10px;

      @include media-breakpoint-down(sm) {
        background: unset;
        padding: 20px;
      }

      @include media-breakpoint-up(sm) {
        background: unset;
        padding: 20px;
      }

      @include media-breakpoint-up(md) {
        background: #ffffff url("@/assets/images/bg/bg-ref-to-earn.png")
          no-repeat left;
        padding: 60px 60px 60px 224px;
      }

      @include media-breakpoint-up(lg) {
      }

      @include media-breakpoint-up(xl) {
      }

      @include media-breakpoint-up(xxl) {
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      &-desc {
        margin-bottom: 1.5rem;
      }

      &-btn {
        padding: 10px 30px !important;
        text-decoration: none;
        border: 1px solid #000000 !important;
        color: #000000 !important;
        border-radius: 20px !important;
        font-weight: 600 !important;
        margin: 0 !important;
      }
    }

    &-user {
      background: #ffffff;
      padding: 20px 20px;
      margin-bottom: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      background-repeat: no-repeat;
      background-position: left;
      border-radius: 20px;

      &-link {
        margin-bottom: 20px;
        font-size: 1rem;

        &-url {
          font-weight: bold;
          text-decoration: underline;
          margin-bottom: 30px;

          .icon-copy {
            background-image: url("@/assets/images/icons/icon-copy.svg");
            background-repeat: no-repeat;
            background-size: contain;
            height: 20px;
            display: inline-block;
            width: 20px;
            margin-left: 10px;
          }
        }
      }

      &-btn {
        padding: 10px 30px !important;
        text-decoration: none;
        border: 1px solid #000000 !important;
        color: #000000 !important;
        border-radius: 20px !important;
        font-weight: 600 !important;
        margin: 0 !important;
      }

      &-desc {
        font-size: 1rem;
      }
    }

    &-heading {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1rem;
      margin-bottom: 5px;
      font-weight: 500;
    }

    &-rule {
      &-content {
        margin-bottom: 10px;
      }

      .btn--view-more {
        border-radius: 25px !important;
        font-weight: 600;
        margin: 0;
        padding: 5px 20px;
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }

  &-description {
    width: 50%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 0 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    &-header {
      border-bottom: 1px solid #dcdcdc;
      padding: 20px 0;

      &__view-scan {

        a {
          color: #000;
          text-decoration: unset !important;
        }

        &::before {
          margin-left: 10px;
          content: "• ";
        }
      }
    }

    &-max {
      padding: 20px 0;
    }

    &-line-1 {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }

    &-line-2 {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
    }

    &-max-spal {
      width: 50%;
    }

    &-close-in {
      width: 50%;
    }

    &-quantity {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &-progress-bar {
      height: 17px;
      background: #ebebeb;
      border-radius: 25px;
      margin-bottom: 5px;
      font-weight: 600;

      &-sub {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;

        span {
          font-weight: 500;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    &-heading {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  &-detail {
    margin-bottom: 20px;
    padding: 0;

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      border-color: transparent;
      border-bottom: 2px solid #a1d947;
      font-weight: 500;
    }

    .nav-item .nav-link{
      color: #000000;
    }

    .tab-content {
      &-table-info {
        margin: 20px 0;
        display: flex;

        @include media-breakpoint-down(sm) {
          display: block;
        }

        @include media-breakpoint-up(sm) {
        }

        @include media-breakpoint-up(md) {
        }

        @include media-breakpoint-up(lg) {
        }

        @include media-breakpoint-up(xl) {
        }

        @include media-breakpoint-up(xxl) {
        }

        table {
          width: 100%;

          tr {
            td {
              width: 50px;
              padding: 15px 10px;
            }
          }
        }
        &-1 {
          width: 50%;
          padding: 10px;
          margin-right: 20px;
          border-radius: 25px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
          margin-bottom: 20px;

          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          @include media-breakpoint-up(sm) {
          }

          @include media-breakpoint-up(md) {
          }

          @include media-breakpoint-up(lg) {
          }

          @include media-breakpoint-up(xl) {
          }

          @include media-breakpoint-up(xxl) {
          }
        }
        &-2 {
          width: 50%;
          border-radius: 25px;
          margin-bottom: 20px;

          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          @include media-breakpoint-up(sm) {
          }

          @include media-breakpoint-up(md) {
          }

          @include media-breakpoint-up(lg) {
          }

          @include media-breakpoint-up(xl) {
          }

          @include media-breakpoint-up(xxl) {
          }
        }
      }
      .tab-pane {
        padding: 5px 0;

        @include media-breakpoint-down(sm) {
          padding: 10px;
        }
      }
    }
  }

  &-swap {
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    &-in-out {
      background: #f4f4f4;
      border: 1px solid #e4e4e4;
      border-radius: 16px;
      padding: 10px 20px;

      &-top {
        display: flex;
        justify-content: space-between;
      }

      &-input {
        display: flex;
        justify-content: space-between;

        &-amount {
          width: 100%;
          border: none;
          background: transparent;
          font-size: 1.2rem;
          padding: 10px 0;

          &:focus-visible {
            outline: none;
          }
        }

        &-icon {
          flex-direction: row;
          align-items: center;
          display: flex;
        }
      }
    }

    &-nav {
      text-align: center;
      margin: 10px 0;
    }

    &-sub {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
    }

    &-footer {
      margin: 10px 0;
      &-button {
        padding: 10px;
        background: #000000;
        color: #ffffff;
        font-weight: 600;
        border-radius: 25px;
        border: 0;

        &--connect {
          width: 100%;
        }

        &--approve {
          width: 49%;
          background: #b5e8e3;
          color: #000000;
          margin-right: 2%;
        }

        &--swap {
          width: 49%;
          background: #000000;
          color: #ffffff;
        }
      }
    }
  }

  &-progress {
    margin-bottom: 20px;
  }
}

.btn--live {
  height: 24.5px;
  margin-right: 10px;

  &::before {
    content: url("@/assets/images/icons/live.svg");
  }
}